*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
/* header design starts */
header{
    background-image: url("../images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #808080;
    background-blend-mode: multiply;
}
.header{
    color: white;
    padding: 200px;
    text-align: center;
}
.header-title{
    font-size: 80px;
    font-weight: 700;
}
.header-description{
    font-size: 20px;
    color: #D3D3D3;
    margin: 30px 0;
    padding: 0 200px;
}
.btn-primary{
    background-color: #f56a5b;
    border: none;
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 25px;
}
/* donate amount section design starts */
.section{
    margin: 150px;
}
.donate-amount{
    margin: 150px;
    text-align: center;
}
.section-title{
    font-size: 60px;
}
.section-description{
    font-size: 20px;
    color: #808080;
    margin: 30px 0;
    padding: 0 200px;
}
.amounts{
    margin: 50px;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
.donate{
    font-size: 30px;
    font-weight: 600;
    color: #808080;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    padding: 50px 30px;
    border-radius: 10px;
}
.donate:hover{
    background-color: #fee7e5;
    color: #f56a5b;
    border: 1px solid #f56a5b;
}
.hr-text{
    color: #C0C0C0;
}
.hr{
    width: 80%;
    margin: 10px auto 20px;
    border: none;
    border-bottom: 0.5px solid #C0C0C0;
}
