*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
/* header design starts */
header{
    background-image: url("../images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #808080;
    background-blend-mode: multiply;
}
.header{
    color: white;
    padding: 200px;
    text-align: center;
}
.header-title{
    font-size: 80px;
    font-weight: 700;
}
.header-description{
    font-size: 20px;
    color: #D3D3D3;
    margin: 30px 0;
    padding: 0 200px;
}
.btn-primary{
    background-color: #f56a5b;
    border: none;
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 25px;
}
/* donate amount section design starts */
.section{
    margin: 150px;
    text-align: center;
}
.donate-amount{
    margin: 150px;
}
.section-title{
    font-size: 60px;
}
.section-description{
    font-size: 20px;
    color: #808080;
    margin: 30px 0;
    padding: 0 200px;
}
.amounts{
    margin: 50px;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
.donate{
    font-size: 30px;
    font-weight: 600;
    color: #808080;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    padding: 50px 30px;
    border-radius: 10px;
}
.donate:hover{
    background-color: #fee7e5;
    color: #f56a5b;
    border: 1px solid #f56a5b;
}
.hr-text{
    color: #C0C0C0;
}
.hr{
    width: 80%;
    margin: 10px auto 20px;
    border: none;
    border-bottom: 0.5px solid #C0C0C0;
}
/* donate plan section design starts */
.cards{
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    gap: 70px;
    margin: 50px auto;
}
.card-title{
    margin: 15px 0;
}
.card-description{
    font-size: 20px;
    color: #808080;
}
.card-1{
    background-color: #E0FFFF;
    padding: 50px 30px;
    border-radius: 5px;
}
.card-2{
    background-color: #FFE4E1;
    padding: 50px 30px;
    border-radius: 5px;
}
.card-3{
    background-color: #FFEBCD;
    padding: 50px 30px;
    border-radius: 5px;
}
/* article section design starts */
article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 50px;
    margin-bottom: 100px;
}
article h2{
    font-size: 60px;
    margin-bottom: 25px;
}
article p{
    font-size: 20px;
    color: #808080;
    margin-bottom: 20px;
}
article img{
    width: 50%;
}
/* fourth section design starts */
.input-field{
    background-color: #FFEBCD;
    padding: 50px;
    display: flex;
    justify-content: center;
    margin: 60px 200px;
}
.input-field input{
    border: none;
    margin: 30px 0;
    background-color: #DCDCDC;
    border: none;
    padding: 0 20px;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
}
.input-field button{
    border-radius: 0 5px 5px 0;
    margin: 30px 0;
    font-size: 18px;
}
/* footer section design starts */
footer{
    background-color: black;
    text-align: center;
    padding: 50px;
    color: #808080;
}
.footer-title{
    font-family: 'Pacifico', cursive;
    color: OrangeRed;
    font-size: 32px;
    margin-bottom: 20px;
}